fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
passlib[bcrypt]
bcrypt<4.0.0
python-jose[cryptography]
python-multipart
psycopg2-binary
pytest
httpx
python-chess
alembic
aiosqlite
asyncpg
motor
beanie
pytest-asyncio
mongomock-motor